{% extends 'posts/base.html' %}
{% block content %}

<div class="d-flex justify-content-center">
  <div class="container">
  <p class="display-1"><strong>About</strong></p>
  <p class="display-3">This site</p>
  <p>
  I made this site myself using django. Django is a very popular framework for webdevelopment that uses Python as it's main programming language. That's the reason I chose for that approach as I have a lot of experience with Python. I use bootstrap for the design(and also crispy-forms). As you probably noticed by the website's URL this page is hosted on Heroku. It's fantastic as it is 100% free but that of course has some downsides. The most annoying are the fact that loading the page takes a very long time and I am also unable to upload my videos to heroku so you can't view or download them altough I really wanted you to be able to do so.
  </p>
  <a href="https://www.github.com/kwikenkwak/kwikenkwaksite" class="btn btn-dark">
    View the source code of this site
    <span class="bi bi-github"></span>
  </a>
  <p class="display-3">Minecraft renders</p>
  I like to do these and post them to Reddit but rendering is not my main focus, it is just something I do when I'm a bit bored with coding. That's also why there are months between some posts. Nevertheless, my posts get very appreciated on the r/Minecraft. Feel free to use the download buttons on this page store them locally. The only thing I expect from you is that you ask for permission if you would like to use on a website or something.
  </p>
  <p class="display-3">Blender add-ons</p>
  <p>
  I made 3 Blender add-ons that have 3 very different uses. The add-ons are made with Python using the Blender's advanced Python API. I made these mostly for personal use because they speed up my workflow in Blender a lot and because I just really like to work with the Blender API. More information on the add-ons can be found on their seperate page on this website.
  </p>
  <h2>Socials<h2>
  {% include 'posts/socialbuttons.html' %}
  </div>

</div>


{% endblock content %}
