{% extends 'posts/base.html' %}
{% block content %}
<div class="container">
<h1>HIRE ME</h1>
I like to earn some money on the side by doing some coding. If you are looking for a web-dev, someone to make Blender add-ons or just to do any kind of Python scripting I am the one you're looking for.
If you are interested please contact me at kwikandkwak@gmail.com or send me a message on Reddit.

<h2>Socials</h2>
<ul class="btn-group mx-0 px-0">
  <a class="btn btn-outline-primary" href="https://www.reddit.com/user/kwikenkwak">Reddit
    <span class="bi bi-reddit"></span>
  </a>
  <a class="btn btn-outline-primary" href="https://www.github.com/kwikenkwak">Github
    <span class="bi bi-github"></span>
  </a>
  <a class="btn btn-outline-primary" href="https://www.codewars.com/users/kwikandkwak">Codewars
    <span class="bi bi-award"></span>
  </a>
</ul>
</div>
{% endblock content %}
