{% extends 'posts/base.html' %}
{% load static %}
{% block content %}
<div class="container">
<ul class="btn-group">

<div class="btn-group">
  <button type="button" class="btn dropdown-toggle btn-outline-primary" data-bs-toggle="dropdown">
      {{ sort_opt }}
  </button>
  <ul class="dropdown-menu">
      {% for option in sort_opts %}
      {% if sort_opt != option %}
      <li><a class="dropdown-item" href="{% url 'posts:home' option search show_type %}">
              {{ option }}
      </a></li>
      {% endif %}
      {% endfor %}
  </ul>
</div> 

<div class="btn-group">
  <button type="button" class="btn dropdown-toggle btn-outline-primary" data-bs-toggle="dropdown">
      {{ show_type }}
  </button>
  <ul class="dropdown-menu">
      {% for type in show_types %}
      {% if type != show_type %}
      <li><a class="dropdown-item" href="{% url 'posts:home' sort_opt search type %}">
              {{ type }}
      </a></li>
      {% endif %}
      {% endfor %}
  </ul>
</div>

</ul>
</div>

{% include 'posts/postrender.html' with objects=context%}

{% endblock content %}

