{% extends 'posts/base.html' %}
{% load static %}
{% block content %}

<div class="container justify-content-center">
  <div class="container px-0" style="position:relative">
  <img class="border border-5 border-dark" src="{% static 'addons/textgen.jpg' %}" style="width:100%">
  <div class="m-5 text-primary" style="position:absolute;top:0;left:0;">
    <p class="display-1" style="text-shadow:  2px 3px 4px #00BBff;"><strong>Textgen</strong></p>
    <p style="text-shadow:  2px 3px 4px #00BBff;"><strong>A Blender add-on to generate text images for materials</strong></p>
  </div>
  </div>
  <p class="text-muted" style="display:inline-block">All the text of the textures was created with the TextGen add-on</p>
  <a href="https://www.github.com/kwikenkwak/textgen-add-on" class="right-wrapper btn btn-dark rounded-0 float-end">View on Github
    <span class="bi bi-github"></span>
  </a>

<p class="lead me-5">
This is the first Blender add-on I made and it's also the most advanced one. This add-on allows the user to very quickly make and edit images with text that they can use on their materials for their renders. The add-on has a ton of settings and is also efficient and flexible. The usage is pretty simple but to get started I strongly advice you to read the README or at least watch the tutorial to get a basic idea of how to use the add-on.
</p>

<!-- The navbar - The <a> elements are used to jump to a section in the scrollable area -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark rounded bg-dark px-3 mt-3">
  <span class="navbar-brand text-primary">README</span>
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="#installation">Installation</a></li>
    <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
    <li class="nav-item"><a class="nav-link" href="#tutorial">Tutorial</a></li>
    <li class="nav-item"><a class="nav-link" href="#properties">Properties</a></li>
    <li class="nav-item"><a class="nav-link" href="#reporting">Reporting bugs</a></li>
    <li class="nav-item"><a class="nav-link" href="#contributing">Contributing</a></li>
    <li class="nav-item"><a class="nav-link" href="#detectionmacos">Font detection on MacOs</a></li>
    <li class="nav-item"><a class="nav-link" href="#"></a></li>
  </ul>
</nav>

<div class="container readme p-3 border border-top-0 border-3 border-dark rounded" data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50" style="height:200px;clear:right">
<div id="installation">
  <h2>Installation</h2>
  Installation on Linux and MacOS is straightforward, but on Windows
  you'll need to install a library manually.
  <p>These are the steps:</p>
  <ul>
    <li>Download the textgen.py file from this Github repository.</li>
<li>Open Blender and go to Edit &gt; Preferences &gt; Add-ons.</li>
<li>Click install and choose the downloaded textgen.py file.</li>
<li>Enable the addon.</li>
    <ul>
    <li>This will throw an error on Windows, so for installation on
        Windows you also do the following:</li>
    <li>Go to Window &gt; Toggle system console</li>
    <li>You should see a command starting with *&* and separated by
        blank lines</li>
    <li>Copy that command</li>
    <li>Open powershell as **an administrator** and run that command</li>
    <li>If no red text appears everything should be okay.</li>
      </ul>
<li>Restart Blender.</li>
<li>The add-on should be installed and working now, if you're still
  getting errors please report them.</li>
  </div>

<div id="features">
  <h2>Features</h2>
  <p>
This add-on's main goal is to make it easy and fast to create text
images without having to use external applications. It comes with a
bunch of features which allow you to make any kind of text you want:
      </p>
      <ul>
        <li>Use aligment options</li>
<li>Change the resolution of the image</li>
<li>Control the line spacing</li>
<li>Autodetection of installed fonts</li>
<li>Generation of random text</li>
      </ul>
</div>
<h2>Usage</h2>
<div id="tutorial">
  <h3>Tutorial</h3>
  <a href="https://youtu.be/MezRjCmSSsg" class="btn btn-primary">View the tutorial here</a>
</div>
<div id="properties">
  <h3>Properties</h3>
  <p>
This is a description of all properties of the textgen window(**located
in the viewport sidebar**) from top to bottom. Please note that some of
these properties will be visible or not depending on certain other
settings.
  </p>
  <dl>
    <dt>List of text items</dt>
    <dd>
Here you can select which text item you want to be modifying. On the
right there are three buttons which let you add, remove or duplicate a
text item.
    <ul>
      <li>Add: This adds a new text item to the list. Note that this will set
    the name of the file of the image to *TextGeneratorFile* followed by
    the current number of text items.</li>

      <li>Remove: Removes the currently selected text item if it is not the
        last line left.</li>

      <li>Duplicate: Creates a duplicate of the currently selected text item.
    Note that this will change the name of the file of the image to the
    file of the original text item followed by a number. If there was
    already a number at the end it will add one.</li>
    </ul>
    </dd>
<dt>Advanced mode</dt>
    <dd>
Toggle between advanced mode, disabled by default. Advanced mode will
allow you to control the width and height of the image. It will
add/replace some properties with the following properties:
<ul>
  <li>Text size: This replaces the resolution property, it should more or
    less be the width of each character in pixels.</li>

  <li>Wrap width/height: this allows you to determine the width or height
    of the image yourself by changing the value underneath or instead
    wrap it to the text(that's what happens in not advanced mode).</li>
</ul>
    </dd>
<dt>Safetylock</dt>
    <dd>
Safetylock will disable the creation of the image when the resulting
image would be too large because that could result in all of your RAM
getting used by the image which is not good. If you disable this
behavior you should be carefull with what you do(setting the resolution
to 100 is not such a good idea for example). This property will flicker
when it has prevented image creation.
    </dd>
<dt>Lines</dt>
    <dd>
Here you can edit the lines of your texts. It will show you all the
lines of your text as text properties stacked on each other.\
There are two character combinations which will do something special:
  <ul>
    <li>
**\\n**: This will start a new line in the output text, this can be
    handy if you want to paste a lot of text at once, but it's not very
    handy if you want to edit the text later so it's better to just add
    a new line.</li>
    <li>**\#R\#CHARS:WIDTH:SEED\#R\#**: This allows you to insert randomly
    generated text into your text which can be very handy if you're
    trying to create a letter or if you want to have alinea's. To use
    this, you change the CHARS, WIDTH and SEED in the template to
    respectively: the total number of characters of generated text, the
    width of each line in characters and the seed of the text
    generation.</li>
  </ul>

At the right of the lines there are three buttons: add, remove and ? rix
builds

Save time with matrix workflo \* Add: This lets you insert a line
somewhere, when clicking this, a pop-up window will show up which will
let you select the line where the new line should be inserted and also
if it should be inserted after or before that line.

  <ul>
    <li>Remove: This lets you remove a line, when clicking this, a pop-up
    window will show up, here you can select which line should be
    removed.</li>

    <li>**?**: This lets you toggle random text mode. When enabled, the text
    lines will be neglected and instead random text will be generated
    according to three properties that will show up.</li>

    <li>Characters: This is the total length of the generated text in
        characters. Note that this will not be the exact number of the
        actual output text, but rather an approximation.</li>

    <li>Text width: This is the length of each line in characters with a
      minimum of 16 characters.</li>

    <li>Seed: The seed of the text generation, changing this will give
      you different words.</li>
  </ul>
    </dd>
<dt>Aligment method</dt>
    <dd>
Speaks for itself. Choose between left, center and right
    </dd>
<dt>Fill</dt>
    <dd>
When enabled, this will change the spacing between each word of the line
so that it matches the width of the image.
<ul>

  <li>Fill percentage: Percentage of the total image width which has to be
    occupied with text so that the method will fill the line with text,
    if not reached the line will be aligned according to the chosen
    alignment type.</li>
</ul>
    </dd>
<dt>Resolution</dt>
    <dd>
This is the resolution of each character. It doesn't have to be
increased when adding more text. Don't use a higher resolution than
needed because this property has a very big influence on the size of the
image.
    </dd>
<dt>Line spacing</dt>
    <dd>
The amount of space between two lines, 1 is the default spacing, if you
increase this value there will be more blank space between the lines. If
you go below 1 it can result in the lines of your text overlapping each
other.
    </dd>
<dt>Font family</dt>
    <dd>
This property lets you choose between all the installed fonts on your
system. This property will not be visible to mac users as font detection
isn't supported there yet.
    </dd>
<dt>Use font path</dt>
    <dd>
Toggle to choose if you want to use the font family selection or instead
select a .ttf file yourself from your PC this is usefull if you have
font files which aren't installed on your system. This property will not
be visible to mac users, mac users can't switch between a font path or
font family selection as font detection is not supported on MacOS so
they will always have to use a font path.
    </dd>
  </dl>
  <dt>Font type</dt>
  <dd>
Choose between the installed types of the selected font family, this
property will only be visible if not using a font path.
  </dd>
<dt>Font weight(Only visible when using variable fonts)</dt>
  <dd>
Weight of the font, this value usually controls how bold the text is. A
higher value will result in a bolder font. Look beneath for minimum,
maximum and default value.
  </dd>
<dt>File</dt>
  <dd>
This is the name of the .png file in which the generated image **will be
stored in the directory in which the blend file is saved**. Don't put
*.png* in this property, that will automatically be added. Note that
when this value is changed, the add-on won't generate a duplicate file
but instead rename the current one, it will also rename the loaded image
in blender.
  </dd>
<dt>Add texture node</dt>
  <dd>
This adds an image texture node with the image to the current node tree.
It will also set it to clip as that's probably the most used extension
setting for text images.
  </dd>
  </dl>
</div>
<div id="reporting">
  <h4>Reporting errors/bugs</h4>
  <p>If you encounter a bug or error while using this add-on please open an
issue if it's not reported yet. In your issue please say what operating
system you are using and describe to bug or how to reproduce the error,
the info of your system console is also handy.</p>
</div>
<div id="contributing">
  <h4>Contributing</h4>
  <p>
For now, I think i'll try fix the issues on Windows and Linux myself,
but I don't have a MacOS system so I can't realyy test it there. That's
also the reason why font detection is not supported on MacOS. If you
think a features should be added please send me an email:
kwikandkwak@gmail.com</p>
</div>

<div id="detectionmacos">
  <h4>Font detection on MacOS</h4>
  <p>
If you're a MacOS user and you think you can code. Here's a project for
you: what I need is a function that returns a dictionary of the
following form: *{"Font family": {"type1":"path/to/font.ttf",
"type2":"path/to/font.ttf", ...}, "Font family2":
{"type1:"path/to/font.tff", "type2":"path/to/font.tff",...}, ... }*
  </p>
  <p>
If you made a function like that please send it to my email, I'll take a
look at it and if I think it works i'll implement it. Note that the
function should preferably not use external python modules.
  </p>
</div>


</div>
</div>


{% endblock content %}
